In [1]:
import pandas as pd

import data from the 'titanic.csv' file and check its structure.

passenger_id – Unique passenger id

pclass – Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)

survived – Survival (0 = No, 1 = Yes)

name – Name and SUrname

sex – Sex (0 = Male, 1 = Female)

age – Age in years

sibsp – # of siblings / spouses aboard the
Titanic

parch – # of parents / children aboard the Titanic

ticket – Ticket number

fare – Passenger fare

cabin – Cabin number

embarked – Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

boat – Lifeboat (if survived)

body – Body number (if did not survive and body was recovered)

home.dest – Home/Destination

In [101]:
titanic = pd.read_csv("/mnt/titanic.csv")

In [80]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   passenger_id  1309 non-null   int64
 1   pclass        1309 non-null   int64
 2   survived      1309 non-null   int64
 3   name          1309 non-null   object
 4   sex           1309 non-null   int64
 5   age           1046 non-null   float64
 6   sibsp         1309 non-null   int64
 7   parch         1309 non-null   int64
 8   ticket        1309 non-null   object
 9   fare          1308 non-null   float64
 10  cabin         295 non-null    object
 11  embarked      1307 non-null   object
 12  boat          486 non-null    object
 13  body          121 non-null    float64
 14  home.dest     745 non-null    object
dtypes: float64(3), int64(6), object(6)
memory usage: 153.5+ KB

In [81]:
# data understanding
titanic.sample(10)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
982,983,3,0,"Lyntakoff, Mr. Stanko",0,NaN,0,0,349235,7.8958,NaN,S,NaN,NaN,NaN
1057,1058,3,1,"Nicola-Yarred, Miss. Jamila",1,14.0,1,0,2651,11.2417,NaN,C,C,NaN,NaN
204,205,1,1,"Meyer, Mrs. Edgar Joseph (Leila Saks)",1,NaN,1,0,PC 17604,82.1708,NaN,C,6,NaN,"New York, NY"
676,677,3,0,"Bjorklund, Mr. Ernst Herbert",0,18.0,0,0,347090,7.7500,NaN,S,NaN,NaN,"Stockholm, Sweden New York"
1179,1180,3,0,"Sage, Mr. John George",0,NaN,1,9,CA. 2343,69.5500,NaN,S,NaN,NaN,NaN
137,138,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S,3,NaN,"Greenwich, CT"
737,738,3,0,"Crease, Mr. Ernest James",0,19.0,0,0,S.P. 3464,8.1583,NaN,S,NaN,NaN,"Bristol, England Cleveland, OH"
1233,1234,3,1,"Sundman, Mr. Johan Julian",0,44.0,0,0,STON/O 2. 3101269,7.9250,NaN,S,15,NaN,NaN
18,19,1,1,"Bazzani, Miss. Albina",1,32.0,0,0,11813,76.2917,D15,C,8,NaN,NaN
729,730,3,0,"Cor, Mr. Bartol",0,35.0,0,0,349230,7.8958,NaN,S,NaN,NaN,Austria

In [82]:
# passenger_id – Unique passenger id
print(f"Unique ids: {titanic["passenger_id"].unique()}")
print(f"Unique ids count: {titanic["passenger_id"].value_counts()}")

Unique ids: [   1    2    3 ... 1307 1308 1309]
Unique ids count: passenger_id
1309    1
1       1
2       1
3       1
4       1
       ..
18      1
17      1
16      1
15      1
14      1
Name: count, Length: 1309, dtype: int64

In [83]:
# pclass – Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
print(f"Ticket classes: {titanic.pclass.value_counts().sort_values(ascending = False)}")

Ticket classes: pclass
3    709
1    323
2    277
Name: count, dtype: int64

In [84]:
# survived – Survival (0 = No, 1 = Yes)
print(f"Unique data points: {titanic.survived.unique()}")
print(f"Survived: {titanic.survived.value_counts()}")

Unique data points: [1 0]
Survived: survived
0    809
1    500
Name: count, dtype: int64

In [85]:
# name – Name and SUrname
print(f"Names and surnames: {titanic.name.value_counts()}")

Names and surnames: name
Kelly, Mr. James                     2
Connolly, Miss. Kate                 2
Ilmakangas, Miss. Ida Livija         1
Ilieff, Mr. Ylio                     1
Ibrahim Shawah, Mr. Yousseff         1
                                    ..
Harris, Mr. George                   1
Harper, Rev. John                    1
Harper, Miss. Annie Jessie "Nina"    1
Harbeck, Mr. William H               1
Herman, Mr. Samuel                   1
Name: count, Length: 1307, dtype: int64

In [86]:
# sex – Sex (0 = Male, 1 = Female)
sex = titanic
print(f"Sex: {sex.sex.map({0: "Male", 1: "Female"}).value_counts()}")

Sex: sex
Male      843
Female    466
Name: count, dtype: int64

In [42]:
# age – Age in years
print(f"Ages in years: ")
print(titanic.age.value_counts())
print("Unique Ages: ")
print(titanic.age.fillna(0).astype(int).unique())

Ages in years:
age
24.0000    47
22.0000    43
21.0000    41
30.0000    40
18.0000    39
           ..
60.5000     1
74.0000     1
0.4167      1
11.5000     1
26.5000     1
Name: count, Length: 98, dtype: int64
Unique Ages:
[29  0  2 30 25 48 63 39 53 71 47 18 24 26 80 50 32 36 37 42 19 35 28 45
 40 58 22 41 44 59 60 33 17 11 14 49 76 46 27 64 55 70 38 51 31  4 54 23
 43 52 16 21 15 65 56 13 61 34  6 57 62 67  1 12 20  8  7  3  5 66  9 10
 74]

In [34]:
# sibsp – # of siblings / spouses aboard the Titanic
print(f"Number of siblings / spouses that aboard the Titanic: {titanic.sibsp.sum()}")

Number of siblings / spouses that aboard the Titanic: 653

In [43]:
# parch – # of parents / children aboard the Titanic
print(f"Number of parents / children aboard the Titanic: {titanic.parch.sum()}")

Number of parents / children aboard the Titanic: 504

In [52]:
# ticket – Ticket number
print(f"Unique ticket numbers: ")
print(titanic.ticket.unique())
print(f"There are {titanic.ticket.nunique()} tickets")

Unique ticket numbers:
['24160' '113781' '19952' '13502' '112050' '11769' 'PC 17609' 'PC 17757'
 'PC 17477' '19877' '27042' 'PC 17318' 'PC 17558' '11813' '13050' '11751'
 '111369' 'PC 17483' '13905' '11967' 'PC 17760' '110564' '113784' '112277'
 '36928' '113783' '110489' 'PC 17608' '113505' '111427' '113054'
 'PC 17591' '112379' 'PC 17610' '16966' '113050' '113798' 'PC 17476'
 'PC 17606' 'PC 17755' '695' '113059' '113760' '19924' '17770'
 'W.E.P. 5734' '113806' '110152' 'PC 17594' '112051' '13508' '110465'
 '5727' 'PC 17756' '11770' '113791' 'WE/P 5735' '112901' 'PC 17599'
 '113055' '113804' 'F.C. 12750' '17474' '33638' 'PC 17761' '11755'
 'PC 17485' 'PC 17580' '11767' '36947' 'PC 17531' 'PC 17598' '17421'
 'PC 17474' '113051' '19950' '113778' 'PC 17611' '17765' '13568' '13567'
 '112058' '113803' '111320' '113503' '112378' 'PC 17593' '17453'
 'PC 17754' '113780' '112053' 'PC 17582' 'PC 17759' '11765' 'PC 17572'
 '113796' '36973' '112059' '16988' '12749' '113038' '17463' '680' '111361'
 '113789' '111426' '19943' 'PC 17600' '113572' 'PC 17595' '694' '113044'
 '11771' '17464' '11753' '113028' '17465' 'PC 17612' '17475' '112377'
 'PC 17592' '113501' '113801' 'PC 17569' '110469' '11774' '113773'
 'PC 17482' 'PC 17473' 'PC 17604' '13509' '19928' '13236' '113787'
 'PC 17596' '35273' '11752' '693' 'PC 17758' 'F.C. 12998' '113509'
 'PC 17562' '112052' '113043' '113776' '113786' '19972' 'PC 17607'
 'PC 17590' '111428' '113767' 'PC 17613' 'PC 17585' '13049' 'PC 17603'
 '113790' '19988' '111163' '113794' 'PC 17475' '13507' '13213' '113788'
 '113792' '17764' '13695' '113056' '21228' '13214' '113514' '11778'
 'PC 17605' '36963' '17466' '110413' '19996' '2543' 'PC 17601' '111240'
 '36967' '110813' '113800' '35281' '113795' 'PC 17597' '113510' '19947'
 '113807' 'P/PP 3381' '248744' '231945' 'C.A. 34050' '226875' '244346'
 '29108' 'C.A. 31030' '28551' 'C.A./SOTON 34068' 'S.O.P. 1166' '2908'
 '244358' '230136' '248698' '28404' '28425' '237670' '211535' '220367'
 '248733' '29750' '236853' '27849' '234686' '244310' '236852' '248738'
 'F.C.C. 13528' '239853' '28424' '244252' '248731' 'SC/AH 29037' '237789'
 '2003' 'W./C. 14263' '248740' '28034' 'C.A. 31921' 'W./C. 14266' '237249'
 'F.C.C. 13534' '29107' 'C.A. 33112' 'S.O.C. 14879' '237668' '244360'
 'SC/PARIS 2167' 'C.A. 31029' '231919' '28403' '28220' 'SC/PARIS 2149'
 'SC/PARIS 2148' '29751' '236854' '236171' '2926' 'C.A. 15185' '229236'
 '239854' '237671' '239865' '28664' '243880' '31028' 'C.A. 30769' '28133'
 '28134' '248726' '233866' '12233' '250646' '250647' '250653' '250649'
 '248746' '248727' 'S.W./PP 752' 'W/C 14208' 'F.C.C. 13529' '220845'
 '248706' '250650' '29105' '29104' '242963' '250643' '26707' '237798'
 '24065' 'SCO/W 1585' 'SO/C 14885' '243847' '237565' 'C.A. 33111'
 'SC/AH Basle 541' '244367' '226593' '233734' '223596' '219533' '239855'
 'C.A. 18723' '250651' '240261' 'SC/Paris 2123' 'SC 1748' 'C.A. 34260'
 'SC/Paris 2163' 'C.A. 29566' '235509' 'SC/AH 3085' 'S.O./P.P. 3' '237735'
 'S.C./PARIS 2079' 'SC/A.3 2861' '28228' '239059' '237216' '233478'
 '250644' 'SW/PP 751' '248723' '234360' 'C.A. 24580' '211536' '29011'
 '250655' '240276' '237736' '230080' '244368' '218629' 'SC/PARIS 2166'
 'C.A. 29395' '28213' 'W./C. 14260' 'SC/PARIS 2146' '244278'
 'SC/PARIS 2147' 'SC 14888' '230433' '28665' 'SC/PARIS 2131' '237393'
 'S.O./P.P. 2' '234604' 'C.A. 34644' 'SC/PARIS 2168' '26360' 'C.A. 17248'
 '31027' '230434' 'SC/PARIS 2133' '29106' 'W./C. 14258' '28004'
 'C.A. 31026' '248659' '244361' '250652' '250648' '237442' '234818'
 '28206' '31418' 'C.A. 29178' '237734' 'F.C.C. 13540' '248734'
 'F.C.C. 13531' '233639' '240929' '34218' '11668' '28221' 'CA 31352'
 '28666' '239856' 'C.A. 33595' '27267' '228414' '29103' 'C.A. 34651'
 'C.A. 24579' 'SC/PARIS 2159' '244270' '244373' '220844' '248747'
 'C.A. 5547' 'C.A. 2673' '348125' '348122' 'SOTON/O2 3101284' '2657'
 'C 7076' '341826' '7546' '392091' '2699' '3474' 'SOTON/O2 3101287'
 'SOTON/O.Q. 3101311' 'SOTON/O.Q. 3101312' '373450' '2223' 'C 4001'
 '350046' '347082' '3101281' '347091' '350043' '347075' '347466' '349202'
 '349237' '349911' 'SOTON/O.Q. 3101310' '347077' '350054' '2696' '2692'
 'SOTON/O.Q. 3101309' '2627' '2694' '347468' '2687' '2679' '3101278'
 '2666' 'A/4 31416' '2623' '349248' '2663' '2691' '330844' '324669'
 '323951' '347068' 'PP 4348' '2622' '2648' '1601' '312992' '347090'
 '349224' '2678' '2664' '364848' '364849' '54636' '334914' '347471' '3460'
 'A/5 21171' '350045' '364512' '329944' '330920' '365222' '330963'
 '315087' '315084' '315091' '315089' '315093' '315086' '364846' '364858'
 'A./5. 2152' '2689' '350042' '350409' '367231' '368364' '392095' '343275'
 'A/5. 13032' '343276' '2680' 'SOTON/O.Q. 3101307' 'A/5 3540' '371109'
 '349210' '349209' '21332' '335097' '370373' '330972' '370369' 'A/5 3536'
 '349230' '349229' '349231' 'SOTON/OQ 392090' 'C.A. 37671' '364500'
 'S.P. 3464' '371362' '315090' '2698' '7598' '7552' '349228' '382650'
 '382651' '347080' '349219' '349203' 'A/4 48871' 'SC/A4 23568' 'A/4 48873'
 '386525' '345572' '345774' '345778' 'C.A. 2315' '349250' '349238'
 '349225' 'A/5 21172' 'A/5 21175' '330958' '349232' '315088' '349226'
 '2686' '370376' 'A/5. 10482' '364516' '368702' 'SOTON/OQ 392083' '349241'
 '336439' 'S.O./P.P. 752' '347072' '349912' '347074' '347061' '2674'
 '2675' '2690' '2695' 'A/5 3902' '2631' 'C.A. 6212' '367232'
 'SOTON/O.Q. 3101308' '350036' '364859' '364851' '368323' '330910'
 '365235' 'W./C. 6608' 'A/5 1478' '368573' 'SOTON/O.Q. 3101314' '36864'
 '358585' '349254' '14973' '35851' '335677' '363291' 'SOTON/O.Q. 3101263'
 'SOTON/O.Q. 3101306' 'CA 2144' '21440' '8471' '376563' '7534' '3101276'
 '3101277' '347069' '349236' 'AQ/3. 30631' '65303' '65304'
 'STON/O2. 3101279' '345769' '2693' '350026' '350025' '350029'
 'W./C. 6609' '374887' '394140' '370375' '347089' '365226'
 'STON/O2. 3101282' 'STON/O2. 3101290' '7548' '349243' '347086' '382649'
 '3101298' 'C 7075' 'STON/O2. 3101283' '370377' 'A. 2. 39186' '348121'
 '3470' '2685' '349220' 'STON/O2. 3101270' 'STON/O2. 3101271' '349201'
 '349240' '350034' 'SOTON/O.Q. 3101305' '350050' '350047' '350048' '14313'
 '65306' '3101264' '347070' '350052' '7540' '347063' '347467' '347742'
 'LINE' '347062' 'W./C. 6607' '349204' '350417' '350408' '4136' '4137'
 'STON/O 2. 3101286' 'STON/O 2. 3101274' '8475' '349246' '350053' '347465'
 '350060' '349256' '2700' '2682' '12460' '323592' '9234' '14312' '330911'
 '363592' '368783' '2660' '367227' '367229' '36865' '315152' '315151'
 '315153' '350405' '350404' '349253' '2654' '2624' '4135' '349217'
 'C 7077' '7935' '7545' '347067' '347065' '2620' '4133'
 'STON/O 2. 3101292' '2683' '370371' '345781' '347071' '347073' '349910'
 'STON/O 2. 3101285' '330971' 'S.O./P.P. 251' 'A/5. 3336' '1222'
 'A/5 21173' '315098' '347743' '347469' '350403' '349235' 'C.A. 42795'
 '370370' 'C 17369' 'STON/O 2. 3101275' '330924' 'AQ/4 3130' 'A/S 2816'
 'STON/O 2. 3101268' '2677' '364850' '36866' '2655' '349213' '349257'
 '2649' '349255' '383123' '367228' '367226' '330932' '36568' '330931'
 '330923' '9232' '370372' '376566' '370368' 'SOTON/O.Q. 392087' '343095'
 'A.5. 11206' '368703' '345501' '359306' '349233' '349211' '349207'
 '349221' '330980' '348123' '392096' 'A4. 54510' '371110' '330877'
 '364506' '372622' '312991' '2661' '2626' '374746' '35852' '382653'
 'A./5. 3235' '367230' '347078' '349206' '2667' '2653' 'A./5. 3338'
 '349218' '2652' '365237' '349234' '2651' '3101297' '363611' '347066'
 '347470' '350410' 'SOTON/O2 3101272' 'STON/O 2. 3101289' 'A/4. 39886'
 '2697' '347081' '345364' '370365' '330979' '334912' '371060' '366713'
 '7267' '364856' '14311' '330959' '347085' '368402' '330919' 'C 17368'
 '4579' 'Fa 265302' '350407' '347464' '347079' '6563' '315085' '315096'
 '315094' '349244' '330909' '349909' '3101295' '315097' '3411' '349242'
 'SOTON/O.Q. 3101315' '343271' '345498' 'A/5 2817' 'STON/O 2. 3101294'
 'STON/O 2. 3101291' 'A/5 21174' '347083' '2668' '330935' '342441'
 '349245' '349212' '349215' '347076' '347087' 'SOTON/O.Q. 392078' '349227'
 '315095' '315092' '349223' '65305' '2629' '362316' '349249' '342684'
 '382652' 'STON/O 2. 3101273' '334915' '364498' 'A/5. 3337'
 'S.C./A.4. 23567' '312993' '370129' '342712' 'A/5 3594' 'A/4. 20589'
 '383162' '2671' '2672' '2676' '367655' 'LP 1588' 'SOTON/O.Q. 3101262'
 'CA. 2343' '7266' '343120' '3101296' '2662' 'PP 9549' '345768'
 'A/5. 2151' '342826' '36209' '349222' '370374' '345779' '330968' '374910'
 'SOTON/OQ 392082' '2669' '392092' '349251' 'STON/O 2. 3101280' '3101265'
 '347088' '349214' 'SOTON/OQ 392086' '315037' '384461' '335432' '348124'
 'A.5. 18509' 'A.5. 3236' 'STON/OQ. 369943' '349208' '349239' 'CA. 2314'
 'A/4 45380' '3701' '349205' '7553' 'STON/O 2. 3101288' '315083' '347054'
 'SOTON/OQ 392089' 'STON/O 2. 3101269' 'SOTON/OQ 392076' '347060' '7538'
 '350035' '350033' '363294' '2625' '2621' '2681' '2684' '32302' '376564'
 'STON/O 2. 3101293' '383121' '349216' '364499' '364511' '2673' '2641'
 '2650' '349247' '4138' '4134' 'A/5. 851' '345773' '345777' '345780'
 '345770' '345783' '345765' '345764' '345763' '2658' '350416' '350406'
 '349252' '345767' '359309' 'C.A. 49867' 'SOTON/OQ 3101316' '345775'
 '2688' '347064' '3101267' '3101266' '363272' '3410' 'S.O./P.P. 751'
 'A/5 2466' 'SOTON/OQ 3101317' '315154' 'A/4. 34244' '345771' '2659'
 '2628' '2647' '2665' '2656' '2670' '315082']
There are 929 tickets

In [54]:
#  fare – Passenger fare
print("Passengers fare: ")
print(titanic.fare.value_counts())
print("Total fare: ")
print(titanic.fare.sum())

Passengers fare:
fare
8.0500     60
13.0000    59
7.7500     55
26.0000    50
7.8958     49
           ..
3.1708      1
6.2375      1
8.6833      1
9.8417      1
7.8750      1
Name: count, Length: 281, dtype: int64
Total fare:
43550.4869

In [55]:
# cabin – Cabin number
print(f"Unique cabin numbers: {titanic.cabin.unique()}")

Unique cabin numbers: ['B5' 'C22 C26' 'E12' 'D7' 'A36' 'C101' nan 'C62 C64' 'B35' 'A23'
 'B58 B60' 'D15' 'C6' 'D35' 'C148' 'C97' 'B49' 'C99' 'C52' 'T' 'A31' 'C7'
 'C103' 'D22' 'E33' 'A21' 'B10' 'B4' 'E40' 'B38' 'E24' 'B51 B53 B55'
 'B96 B98' 'C46' 'E31' 'E8' 'B61' 'B77' 'A9' 'C89' 'A14' 'E58' 'E49' 'E52'
 'E45' 'B22' 'B26' 'C85' 'E17' 'B71' 'B20' 'A34' 'C86' 'A16' 'A20' 'A18'
 'C54' 'C45' 'D20' 'A29' 'C95' 'E25' 'C111' 'C23 C25 C27' 'E36' 'D34'
 'D40' 'B39' 'B41' 'B102' 'C123' 'E63' 'C130' 'B86' 'C92' 'A5' 'C51' 'B42'
 'C91' 'C125' 'D10 D12' 'B82 B84' 'E50' 'D33' 'C83' 'B94' 'D49' 'D45'
 'B69' 'B11' 'E46' 'C39' 'B18' 'D11' 'C93' 'B28' 'C49' 'B52 B54 B56' 'E60'
 'C132' 'B37' 'D21' 'D19' 'C124' 'D17' 'B101' 'D28' 'D6' 'D9' 'B80' 'C106'
 'B79' 'C47' 'D30' 'C90' 'E38' 'C78' 'C30' 'C118' 'D36' 'D48' 'D47' 'C105'
 'B36' 'B30' 'D43' 'B24' 'C2' 'C65' 'B73' 'C104' 'C110' 'C50' 'B3' 'A24'
 'A32' 'A11' 'A10' 'B57 B59 B63 B66' 'C28' 'E44' 'A26' 'A6' 'A7' 'C31'
 'A19' 'B45' 'E34' 'B78' 'B50' 'C87' 'C116' 'C55 C57' 'D50' 'E68' 'E67'
 'C126' 'C68' 'C70' 'C53' 'B19' 'D46' 'D37' 'D26' 'C32' 'C80' 'C82' 'C128'
 'E39 E41' 'D' 'F4' 'D56' 'F33' 'E101' 'E77' 'F2' 'D38' 'F' 'F G63'
 'F E57' 'F E46' 'F G73' 'E121' 'F E69' 'E10' 'G6' 'F38']

In [57]:
# embarked – Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)
print(titanic.embarked.map({"C": "Cherbourg", "Q": "Queenstown", "S": "Southampton"}).value_counts())

embarked
Southampton    914
Cherbourg      270
Queenstown     123
Name: count, dtype: int64

In [59]:
# boat – Lifeboat (if survived)
print(titanic.boat.value_counts())

boat
13         39
C          38
15         37
14         33
4          31
10         29
5          27
3          26
9          25
11         25
8          23
16         23
7          23
D          20
6          20
12         19
2          13
A          11
B           9
1           5
13 15       2
5 7         2
C D         2
5 9         1
8 10        1
13 15 B     1
15 16       1
Name: count, dtype: int64

In [61]:
# body – Body number (if did not survive and body was recovered)
print(f"Total bodies: {titanic.body.sum().astype(int)}")

Total bodies: 19458

In [64]:
print("All home/destination: ")
print(titanic["home.dest"])

All home/destination:
0                          St Louis, MO
1       Montreal, PQ / Chesterville, ON
2       Montreal, PQ / Chesterville, ON
3       Montreal, PQ / Chesterville, ON
4       Montreal, PQ / Chesterville, ON
                     ...
1304                                NaN
1305                                NaN
1306                                NaN
1307                                NaN
1308                                NaN
Name: home.dest, Length: 1309, dtype: object

**2.2**
In the titanic dataset convert columns with qualitative variables to factors (sex, embarked, survived) or ordered factor (pclass) - defining the appropriate levels and, if needed, order of values. Please code the levels as:

embarked respectively: Cherbourg, Queenstown, Southampton

sex - Female, Male

survived - Yes, No

pclass - 1st <2nd <3rd

In [102]:
new_titanic = titanic

In [103]:
new_titanic.sample(10)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1121,1122,3,1,"Peter, Master. Michael J",0,NaN,1,1,2668,22.3583,NaN,C,C,NaN,NaN
883,884,3,0,"Jensen, Mr. Hans Peder",0,20.0,0,0,350050,7.8542,NaN,S,NaN,NaN,NaN
932,933,3,0,"Kink, Miss. Maria",1,22.0,2,0,315152,8.6625,NaN,S,NaN,NaN,NaN
1038,1039,3,0,"Moutal, Mr. Rahamin Haim",0,NaN,0,0,374746,8.0500,NaN,S,NaN,NaN,NaN
140,141,1,1,"Greenfield, Mr. William Bertram",0,23.0,0,1,PC 17759,63.3583,D10 D12,C,7,NaN,"New York, NY"
172,173,1,0,"Julian, Mr. Henry Forbes",0,50.0,0,0,113044,26.0000,E60,S,NaN,NaN,London
876,877,3,0,"Ilieff, Mr. Ylio",0,NaN,0,0,349220,7.8958,NaN,S,NaN,NaN,NaN
1230,1231,3,0,"Strom, Miss. Telma Matilda",1,2.0,0,1,347054,10.4625,G6,S,NaN,NaN,NaN
1234,1235,3,0,"Sutehall, Mr. Henry Jr",0,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,NaN,NaN,NaN
385,386,2,1,"Davies, Master. John Morgan Jr",0,8.0,1,1,C.A. 33112,36.7500,NaN,S,14,NaN,"St Ives, Cornwall / Hancock, MI"

In [104]:
# embarked respectively: Cherbourg, Queenstown, Southampton
new_titanic["embarked"] = new_titanic["embarked"].map({"C": "Cherbourg", "Q": "Queenstown", "S": "Southampton"})
new_titanic["embarked"].unique()

array(['Southampton', 'Cherbourg', nan, 'Queenstown'], dtype=object)

In [105]:
# sex - Female, Male

new_titanic["sex"] = new_titanic["sex"].map({0: "Male", 1: "Female"})
new_titanic["sex"].unique()

array(['Female', 'Male'], dtype=object)

In [106]:
# survived

new_titanic["survived"] = new_titanic["survived"].map({0: "No", 1: "Yes"})
new_titanic.survived.unique()

array(['Yes', 'No'], dtype=object)

In [108]:
# pclass - 1st <2nd <3rd
new_titanic = new_titanic.sort_values(by = "pclass", ascending=False)
new_titanic.head(10)

,passenger_id,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1287,1288,3,No,"Widegren, Mr. Carl/Charles Peter",Male,51.0,0,0,347064,7.7500,NaN,Southampton,NaN,NaN,NaN
1288,1289,3,No,"Wiklund, Mr. Jakob Alfred",Male,18.0,1,0,3101267,6.4958,NaN,Southampton,NaN,314.0,NaN
1289,1290,3,No,"Wiklund, Mr. Karl Johan",Male,21.0,1,0,3101266,6.4958,NaN,Southampton,NaN,NaN,NaN
1290,1291,3,Yes,"Wilkes, Mrs. James (Ellen Needs)",Female,47.0,1,0,363272,7.0000,NaN,Southampton,NaN,NaN,NaN
1291,1292,3,No,"Willer, Mr. Aaron (""Abi Weller"")",Male,NaN,0,0,3410,8.7125,NaN,Southampton,NaN,NaN,NaN
1262,1263,3,No,"van Billiard, Master. James William",Male,NaN,1,1,A/5. 851,14.5000,NaN,Southampton,NaN,NaN,NaN
1263,1264,3,No,"van Billiard, Master. Walter John",Male,11.5,1,1,A/5. 851,14.5000,NaN,Southampton,NaN,1.0,NaN
1264,1265,3,No,"van Billiard, Mr. Austin Blyler",Male,40.5,0,2,A/5. 851,14.5000,NaN,Southampton,NaN,255.0,NaN
1265,1266,3,No,"Van Impe, Miss. Catharina",Female,10.0,0,2,345773,24.1500,NaN,Southampton,NaN,NaN,NaN
1266,1267,3,No,"Van Impe, Mr. Jean Baptiste",Male,36.0,1,1,345773,24.1500,NaN,Southampton,NaN,NaN,NaN